<!-- Title Screen  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sillow | Home</title>
        <style>
            h1{
                font-family: 'Times New Roman', Times, serif;
                font-size: 40px;
            }
            *{
                font-family:'Times New Roman', Times, serif;
            }
        </style>
    </head>
    <div layout:fragment="content">
    <body>
        <br>
        <h1 align="center">Welcome to Sillow</h1>
        <hr>
        <p>Sillow is the best real estate website ever!</p>
    </body>
    </div>
</html>