<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
  <head>
    <style>
      * {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 2px;
        align-items: center;
        align-self: center;
        align-content: center;
      }
    </style>
    <title>Sillow | Properties</title>
  </head>
  <body>
    <h1 th:text="${title}"></h1>
    <table>
    <div layout:fragment="content">
    <br/>
    <h1 align="center" th:text="${title}"></h1>
    <table align="center">
      <tr>
        <th>Property Name</th>
        <th>Location</th>
<h1 th:text="${title}"></h1>
        <td th:text="${property.dateOfConstruction}"></td>
      </tr>
    </table>
    <br/>
  </div>
  </body>
</html>